{% extends 'base.html' %}

{% block title %}
О сайте
{% endblock %}


{% block body %}
<p></p>
<div class="alert">
    <h3>Сведения о сайте:</h3>
    <div class="alert alert-dark">
        <h5>
            <p>Разработчик:</p>
            <p>Сахарбеков Р. Д.</p>
            <p>Факультет безопасности. 3-й курс, гр. 718-1</p>
            <p>Сайт сделан для курсовой работы по предмету Технологии и методы программирования (ТиМП).</p>
        </h5>
    </div>
    </form>

   <form action="mailto:msaharbekov@mail.ru" method="GET" target="_blank">
    <p></p>
    <p></p>
    <p></p>
     <p></p>
    <p></p>
    <p></p> <p></p>
    <p></p>
    <p></p>


    <div class="rounded alert"><label class="label" for="subject"></label>
         <h3 class="title">Написать письмо разработчику</h3>
        <input name="subject" id="subject" type="text" class="input rounded form-control" placeholder="Тема...">
        <textarea class="textarea form-control" name="body" placeholder="Текст..." id="body"></textarea>
        <input class="rounded" type="submit" value="Отправить" class="button is-primary"></div>
</form>

</div>








{% endblock %}