{% extends 'base.html' %}

{% block title %}
AES
{% endblock %}


{% block body %}

    <p></p>
  <h1><p align="center">AES</p></h1>

    <b>Расшифрованный текст:</b></p>
    <form action= "/AES_encryption" method="post" >
        <p><textarea class="form-control" rows="4" cols="45" name="text" maxlength="16" value = "application/octet-stream" placeholder="Введите текст..." required>{% if text1 %}{{text1}}{% endif %}</textarea>
        <p><textarea class="form-control" rows="1" cols="45" name="key"  maxlength= "15" value = "text" placeholder="Ключ..." required></textarea></p>
         <p><input type="submit"  name="method" value="Зашифровать">
             <a href="#" title="Введите текст(НА АНГЛИЙСКОМ ЯЗЫКЕ!!!) в поле ввода текста. Введите ключ(не более 16 символов в виде букв и цифр), и нажмите зашифровать. Расшифрование делается нажатием на кнопку расшифровать"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
        </svg></a></p>
    </form>


    <b>Зашифрованный текст:</b>
    <form action="/AES_decryption" method="post">
        <p><textarea class="form-control" rows="4" cols="45" name="text1" value = "application/octet-stream" required>{% if text %}{{text}}{% endif %}</textarea></p>
        <p><textarea class="form-control" rows="1" cols="45" name="key1"  maxlength= "15" value = "text" placeholder="Ключ..." required>{% if key %}{{key}}{% endif %}</textarea></p>
        <input type="submit" name="re_method" value="Расшифровать">
    </form>

    <p></p>
         <span class="label label-default">Advanced Encryption Standard- AES. Американский стандарт, опубликованный в 2001 году. В современный криптографических подуктах, наверно, не найдется таких, которые бы не использовали AES. Используется в WI-FI, WinRAR, PGP. DES- предшественник AES.

AES - симметричный алгоритм блочного шифрования (размер блока 128 бит, ключ 128/192/256 бит), принятый в качестве стандарта шифрования правительством США по результатам конкурса AES.
             <footer class="container pt-4 my-md-5 pt-md-5 border-top">
    <a class="" href="/about">О сайте</a>
</footer>
{% endblock %}