{% extends 'base.html' %}

{% block title %}
Афинный шифр
{% endblock %}


{% block body %}

    <p></p>
  <h1><p align="center">Афинный шифр</p></h1>

    <b>Расшифрованный текст:</b>
    <form action= "/affine_encryption" method="post" >
         <textarea class="rounded form-control" rows="4" cols="43" name="text" value = "text" name="text" placeholder="Введите текст..." required>{% if text1 %}{{text1}}{% endif %}</textarea>
         <p><input class="rounded form-control"  type="number" name="a" min="1" max = "137" step="2" placeholder="a..." required >
             <input class="rounded form-control" type="number" name="b" min="0" max="137" placeholder="b..." required ></p>
         <p><input class="rounded btn-dark" type="submit"  name="method" value="Зашифровать">
         <a href="#" title="Введите текст в поле ввода текста. Введите первый и второй ключи, и нажмите зашифровать. Расшифрование делается аналогичным образом"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
        </svg></a></p>
    </form>


    <b>Зашифрованный текст:</b>
    <form action="/affine_decryption" method="post">
        <textarea class="rounded form-control" rows="4" cols="43" name="text1" required>{% if text %}{{text}}{% endif %}</textarea>
        <p><input  class="rounded form-control" type="number" name="a" min="1" max = "137" step="2" placeholder="a..." required >
        <input class="rounded form-control" type="number" name="b" min="0" max="137" step="1" placeholder="b..." required ></p>
        <p><input class="rounded btn-dark" type="submit" name="re_method" value="Расшифровать"></p>
    </form>

     <div id="description"> <br /><br />
                            Алфавит: 'A' 'a' 'B' 'b' 'C' 'c' 'D' 'd' 'E' 'e' 'F' 'f' 'G' 'g' 'H' 'h' 'I' 'i'
                'J' 'j' 'K' 'k' 'L' 'l' 'M' 'm' 'N' 'n' 'O' 'o' 'P' 'p' 'Q' 'q' 'R' 'r'
                'S' 's' 'T' 't' 'U' 'u' 'V' 'v' 'W' 'w' 'X' 'x' 'Y' 'y' 'Z' 'z' ' ' ',' '-' ':' '"'
                '!' 'А' 'а' 'Б' 'б' 'В' 'в' 'Г' 'г' 'Д' 'д' 'Е' 'е' 'Ё' 'ё' 'Ж' 'ж' 'З' 'з'
                'И' 'и' 'Й' 'й' 'К' 'к' 'Л' 'л' 'М' 'м' 'Н' 'н' 'О' 'о' 'П' 'п' 'Р' 'р'
                'С' 'с' 'Т' 'т' 'У' 'у' 'Ф' 'ф' 'Х' 'х' 'Ц' 'ц' 'Ч' 'ч' 'Ш' 'ш' 'Щ' 'щ'
                'Ъ' 'ъ' 'Ы' 'ы' 'Ь' 'ь' 'Э' 'э' 'Ю' 'ю' 'Я' 'я' '№' ';' '.' '1' '2' '3' '4' '5' '6'
                '7' '8' '9' '0'
                <br /><br />
         <span class="label label-default">Аффинный шифр - это тип моноалфавитного шифра подстановки , в котором каждая буква в алфавите сопоставляется с ее числовым эквивалентом, зашифровывается с помощью простой математической функции и преобразуется обратно в букву. Используемая формула означает, что каждая буква шифруется до одной другой буквы и обратно, что означает, что шифр по сути является стандартным шифром подстановки с правилом, определяющим, какая буква к какой идет. Таким образом, у него есть слабые места всех подстановочных шифров. Каждая буква зашифрована функцией ( ax + b ) mod M , где b - величина сдвига, а M = 137 азмер алфавита
             Примеры шифрования и расшифрования<br><br><br><br><br>
<p>В следующих примерах используются латинские буквы от A до Z, соответствующие им численные значения приведены в таблице.</p>
<table class="wikitable" border="1">
<tr>
<th>A</th>
<th>B</th>
<th>C</th>
<th>D</th>
<th>E</th>
<th>F</th>
<th>G</th>
<th>H</th>
<th>I</th>
<th>J</th>
<th>K</th>
<th>L</th>
<th>M</th>
<th>N</th>
<th>O</th>
<th>P</th>
<th>Q</th>
<th>R</th>
<th>S</th>
<th>T</th>
<th>U</th>
<th>V</th>
<th>W</th>
<th>X</th>
<th>Y</th>
<th>Z</th>
</tr>
<tr>
<td>0</td>
<td>1</td>
<td>2</td>
<td>3</td>
<td>4</td>
<td>5</td>
<td>6</td>
<td>7</td>
<td>8</td>
<td>9</td>
<td>10</td>
<td>11</td>
<td>12</td>
<td>13</td>
<td>14</td>
<td>15</td>
<td>16</td>
<td>17</td>
<td>18</td>
<td>19</td>
<td>20</td>
<td>21</td>
<td>22</td>
<td>23</td>
<td>24</td>
<td>25</td>
</tr>
</table>
<h3>Шифрование</h3>
<p>В этом примере необходимо зашифровать сообщение "ATTACK AT DAWN", используя упомянутое выше соответствие между буквами и числами, и значения a = 3, b = 4 и m = 26, так как в используемом алфавите 26 букв. Только на число a наложены ограничения, так как оно должно быть взаимно простым с 26. Возможные значения a: 1, 3, 5, 7, 9, 11, 15, 17, 19, 21, 23 и 25. Значение b может быть любым, только если a не равно единице, так как это сдвиг шифра. Итак, для нашего примера функция шифрования y = E =. Первый шаг шифрования — запись чисел, соответствующих каждой букве сообщения.</p>
<table class="wikitable" border="1">
<tr>
<td>сообщение</td>
<td>A</td>
<td>T</td>
<td>T</td>
<td>А</td>
<td>C</td>
<td>K</td>
<td>A</td>
<td>T</td>
<td>D</td>
<td>A</td>
<td>W</td>
<td>N</td>
</tr>
<tr>
<td>x</td>
<td>0</td>
<td>19</td>
<td>19</td>
<td>0</td>
<td>2</td>
<td>10</td>
<td>0</td>
<td>19</td>
<td>3</td>
<td>0</td>
<td>22</td>
<td>13</td>
</tr>
</table>
<p>Теперь, для каждого значения x найдем значение . После нахождения значения  для каждого символа возьмем остаток от деления  на 26. Следующая таблица показывает первые четыре шага процесса шифрования.</p>
<table class="wikitable" border="1">
<tr>
<td>сообщение</td>
<td>A</td>
<td>T</td>
<td>T</td>
<td>А</td>
<td>C</td>
<td>K</td>
<td>A</td>
<td>T</td>
<td>D</td>
<td>A</td>
<td>W</td>
<td>N</td>
</tr>
<tr>
<td>x</td>
<td>0</td>
<td>19</td>
<td>19</td>
<td>0</td>
<td>2</td>
<td>10</td>
<td>0</td>
<td>19</td>
<td>3</td>
<td>0</td>
<td>22</td>
<td>13</td>
</tr>
<tr>
<td>3x + 4</td>
<td>4</td>
<td>61</td>
<td>61</td>
<td>4</td>
<td>10</td>
<td>34</td>
<td>4</td>
<td>61</td>
<td>13</td>
<td>4</td>
<td>70</td>
<td>43</td>
</tr>
<tr>
<td></td>
<td>4</td>
<td>9</td>
<td>9</td>
<td>4</td>
<td>10</td>
<td>8</td>
<td>4</td>
<td>9</td>
<td>13</td>
<td>4</td>
<td>18</td>
<td>17</td>
</tr>
</table>
<p>Последний шаг процесса шифрования заключается в подстановке вместо каждого числа соответствующей ему буквы. В этом примере шифротекст будет "EJJEKIEJNESR". Таблица ниже показывает все шаги по шифрованию сообщения аффинным шифром.</p>
<table class="wikitable" border="1">
<tr>
<td>сообщение</td>
<td>A</td>
<td>T</td>
<td>T</td>
<td>А</td>
<td>C</td>
<td>K</td>
<td>A</td>
<td>T</td>
<td>D</td>
<td>A</td>
<td>W</td>
<td>N</td>
</tr>
<tr>
<td>x</td>
<td>0</td>
<td>19</td>
<td>19</td>
<td>0</td>
<td>2</td>
<td>10</td>
<td>0</td>
<td>19</td>
<td>3</td>
<td>0</td>
<td>22</td>
<td>13</td>
</tr>
<tr>
<td>3x + 4</td>
<td>4</td>
<td>61</td>
<td>61</td>
<td>4</td>
<td>10</td>
<td>34</td>
<td>4</td>
<td>61</td>
<td>13</td>
<td>4</td>
<td>70</td>
<td>43</td>
</tr>
<tr>
<td></td>
<td>4</td>
<td>9</td>
<td>9</td>
<td>4</td>
<td>10</td>
<td>8</td>
<td>4</td>
<td>9</td>
<td>13</td>
<td>4</td>
<td>18</td>
<td>17</td>
</tr>
<tr>
<td>шифротекст</td>
<td>E</td>
<td>J</td>
<td>J</td>
<td>E</td>
<td>K</td>
<td>I</td>
<td>E</td>
<td>J</td>
<td>N</td>
<td>E</td>
<td>S</td>
<td>R</td>
</tr>
</table>
<h3>Расшифрование</h3>
<p>Для расшифрования возьмем шифротекст из примера с шифрованием. Функция расшифрования будет D = a mod 26, где a  = 9, b = 4 и m = 26. Для начала запишем численные значения для каждой буквы шифротекста, как показано в таблице ниже.</p>
<table class="wikitable" border="1">
<tr>
<td>шифротекст</td>
<td>E</td>
<td>J</td>
<td>J</td>
<td>E</td>
<td>K</td>
<td>I</td>
<td>E</td>
<td>J</td>
<td>N</td>
<td>E</td>
<td>S</td>
<td>R</td>
</tr>
<tr>
<td>y</td>
<td>4</td>
<td>9</td>
<td>9</td>
<td>4</td>
<td>10</td>
<td>8</td>
<td>4</td>
<td>9</td>
<td>13</td>
<td>4</td>
<td>18</td>
<td>17</td>
</tr>
</table>
<p>Теперь рассчитаем для каждого y необходимо рассчитать 9 и взять остаток от деления этого числа на 26. Следующая таблица показывает результат этих вычислений.</p>
<table class="wikitable" border="1">
<tr>
<td>шифротекст</td>
<td>E</td>
<td>J</td>
<td>J</td>
<td>E</td>
<td>K</td>
<td>I</td>
<td>E</td>
<td>J</td>
<td>N</td>
<td>E</td>
<td>S</td>
<td>R</td>
</tr>
<tr>
<td>y</td>
<td>4</td>
<td>9</td>
<td>9</td>
<td>4</td>
<td>10</td>
<td>8</td>
<td>4</td>
<td>9</td>
<td>13</td>
<td>4</td>
<td>18</td>
<td>17</td>
</tr>
<tr>
<td>9</td>
<td>0</td>
<td>45</td>
<td>45</td>
<td>0</td>
<td>54</td>
<td>36</td>
<td>0</td>
<td>45</td>
<td>81</td>
<td>0</td>
<td>126</td>
<td>117</td>
</tr>
<tr>
<td>9</td>
<td>0</td>
<td>19</td>
<td>19</td>
<td>0</td>
<td>2</td>
<td>10</td>
<td>0</td>
<td>19</td>
<td>3</td>
<td>0</td>
<td>22</td>
<td>13</td>
</tr>
</table>
<p>Последний шаг операции расшифрования для шифротескста — поставить в соответствие числам буквы. Сообщение после расшифрования будет "ATTACKATDAWN". Таблица ниже показывает выполнение последнего шага.</p>
<table class="wikitable" border="1">
<tr>
<td>шифротекст</td>
<td>E</td>
<td>J</td>
<td>J</td>
<td>E</td>
<td>K</td>
<td>I</td>
<td>E</td>
<td>J</td>
<td>N</td>
<td>E</td>
<td>S</td>
<td>R</td>
</tr>
<tr>
<td>y</td>
<td>4</td>
<td>9</td>
<td>9</td>
<td>4</td>
<td>10</td>
<td>8</td>
<td>4</td>
<td>9</td>
<td>13</td>
<td>4</td>
<td>18</td>
<td>17</td>
</tr>
<tr>
<td>9</td>
<td>0</td>
<td>45</td>
<td>45</td>
<td>0</td>
<td>54</td>
<td>36</td>
<td>0</td>
<td>45</td>
<td>81</td>
<td>0</td>
<td>126</td>
<td>117</td>
</tr>
<tr>
<td>9</td>
<td>0</td>
<td>19</td>
<td>19</td>
<td>0</td>
<td>2</td>
<td>10</td>
<td>0</td>
<td>19</td>
<td>3</td>
<td>0</td>
<td>22</td>
<td>13</td>
</tr>
<tr>
<td>сообщение</td>
<td>A</td>
<td>T</td>
<td>T</td>
<td>А</td>
<td>C</td>
<td>K</td>
<td>A</td>
<td>T</td>
<td>D</td>
<td>A</td>
<td>W</td>
<td>N</td>
</tr>
</table>
<h3>Шифрование всего алфавита</h3>
<p>Чтобы ускорить шифрование и расшифрование, можно провести процедуру шифрования для всех букв алфавита и получить таблицу соответствий между буквами исходного сообщения и шифротекста. Для использованных выше примеров такая таблица будет выглядеть следующим образом:</p>
<table class="wikitable" border="1">
<tr>
<th>буква сообщения</th>
<th>A</th>
<th>B</th>
<th>C</th>
<th>D</th>
<th>E</th>
<th>F</th>
<th>G</th>
<th>H</th>
<th>I</th>
<th>J</th>
<th>K</th>
<th>L</th>
<th>M</th>
<th>N</th>
<th>O</th>
<th>P</th>
<th>Q</th>
<th>R</th>
<th>S</th>
<th>T</th>
<th>U</th>
<th>V</th>
<th>W</th>
<th>X</th>
<th>Y</th>
<th>Z</th>
</tr>
<tr>
<td>x</td>
<td>0</td>
<td>1</td>
<td>2</td>
<td>3</td>
<td>4</td>
<td>5</td>
<td>6</td>
<td>7</td>
<td>8</td>
<td>9</td>
<td>10</td>
<td>11</td>
<td>12</td>
<td>13</td>
<td>14</td>
<td>15</td>
<td>16</td>
<td>17</td>
<td>18</td>
<td>19</td>
<td>20</td>
<td>21</td>
<td>22</td>
<td>23</td>
<td>24</td>
<td>25</td>
</tr>
<tr>
<td></td>
<td>4</td>
<td>7</td>
<td>10</td>
<td>13</td>
<td>16</td>
<td>19</td>
<td>22</td>
<td>25</td>
<td>2</td>
<td>5</td>
<td>8</td>
<td>11</td>
<td>14</td>
<td>17</td>
<td>20</td>
<td>23</td>
<td>0</td>
<td>3</td>
<td>6</td>
<td>9</td>
<td>12</td>
<td>15</td>
<td>18</td>
<td>21</td>
<td>24</td>
<td>1</td>
</tr>
<tr>
<td>буква шифротекста</td>
<td>E</td>
<td>H</td>
<td>K</td>
<td>N</td>
<td>Q</td>
<td>T</td>
<td>W</td>
<td>Z</td>
<td>C</td>
<td>F</td>
<td>I</td>
<td>L</td>
<td>O</td>
<td>R</td>
<td>U</td>
<td>X</td>
<td>A</td>
<td>D</td>
<td>G</td>
<td>J</td>
<td>M</td>
<td>P</td>
<td>S</td>
<td>V</td>
<td>Y</td>
<td>B</td>
</tr>
</table>
  <p></p>
                 <p></p>
                 <strong>Ресурсы:</strong>
                        <div id="content-resources">
                            <a href="http://chinapads.ru/c/s/affinnyiy_shifr_-_primeryi_shifrovaniya_i_rasshifrovaniya"><img src=""  ALT="Афинный шифр" /></a>
                        </div>
<footer class="container pt-4 my-md-5 pt-md-5 border-top">
    <a class="" href="/about">О сайте</a>
</footer>
{% endblock %}