{% extends 'base.html' %}

{% block title %}
Афинный реккурентный шифр

{% endblock %}


{% block body %}

    <p></p>
  <h1><p align="center">Афинный реккурентный шифр</p></h1>

    <b>Расшифрованный текст:</b>
    <form action= "/affine_reccurent_encryption" method="post" >
         <textarea class="rounded form-control" rows="4" cols="45" name="text" value = "text" name="text" placeholder="Введите текст..." required>{% if text1 %}{{text1}}{% endif %}</textarea>
         <p><input class="rounded form-control"  type="number" name="a" min="1" max = "137" step="2" placeholder="a..." required >
             <input class="rounded form-control" type="number" name="b" min="0" max="137" step="1" placeholder="b..." required ></p>
             <p><input class="rounded form-control"  type="number" name="a1" min="1" max = "137" step="2" placeholder="a1..." required >
             <input class="rounded form-control" type="number" name="b1" min="0" max="137" step="1" placeholder="b1..." required ></p>
         <p><input class="rounded btn-dark" type="submit"  name="method" value="Зашифровать">
         <a href="#" title="Введите текст в поле ввода текста. Введите четыре ключа в виде цифр, и нажмите зашифровать. Расшифрование делается аналогичным образом"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
        </svg></a></p>
    </form>


    <b>Зашифрованный текст:</b>
    <form action="/affine_reccurent_decryption" method="post">
        <p><textarea class="rounded form-control" rows="4" cols="45" name="text1" required>{% if text %}{{text}}{% endif %}</textarea></p>
        <p><input class="rounded form-control"  type="number" name="a" min="1" max = "137" step="2" placeholder="a..." required >
        <input class="rounded form-control" type="number" name="b" min="0" max="137" step="1" placeholder="b..." required ></p>
        <p><input class="rounded form-control" type="number" name="a1" min="1" max = "137" step="2" placeholder="a1..." required >
        <input class="rounded form-control" type="number" name="b1" min="0" max="137" step="1" placeholder="b1..." required ></p>
        <input class="rounded btn-dark" type="submit" name="re_method" value="Расшифровать">
    </form>

     <div id="description"> <br /><br />
                            Алфавит: 'A' 'a' 'B' 'b' 'C' 'c' 'D' 'd' 'E' 'e' 'F' 'f' 'G' 'g' 'H' 'h' 'I' 'i'
                'J' 'j' 'K' 'k' 'L' 'l' 'M' 'm' 'N' 'n' 'O' 'o' 'P' 'p' 'Q' 'q' 'R' 'r'
                'S' 's' 'T' 't' 'U' 'u' 'V' 'v' 'W' 'w' 'X' 'x' 'Y' 'y' 'Z' 'z' ' ' ',' '-' ':' '"'
                '!' 'А' 'а' 'Б' 'б' 'В' 'в' 'Г' 'г' 'Д' 'д' 'Е' 'е' 'Ё' 'ё' 'Ж' 'ж' 'З' 'з'
                'И' 'и' 'Й' 'й' 'К' 'к' 'Л' 'л' 'М' 'м' 'Н' 'н' 'О' 'о' 'П' 'п' 'Р' 'р'
                'С' 'с' 'Т' 'т' 'У' 'у' 'Ф' 'ф' 'Х' 'х' 'Ц' 'ц' 'Ч' 'ч' 'Ш' 'ш' 'Щ' 'щ'
                'Ъ' 'ъ' 'Ы' 'ы' 'Ь' 'ь' 'Э' 'э' 'Ю' 'ю' 'Я' 'я' '№' ';' '.' '1' '2' '3' '4' '5' '6'
                '7' '8' '9' '0'
                <br /><br />
         <span class="label label-default">Аффинный шифр - это частный случай более общего моноалфавитного шифра подстановки. В аффинном шифре номеру каждой буквы алфавита размера m ставится в соответствие номер из диапазона [0; m-1]. Затем при помощи модульной арифметики для каждого числа, соответствующего букве исходного алфавита, вычисляется новый номер буквы, которая заменит старую в шифртексте.</span>
<footer class="container pt-4 my-md-5 pt-md-5 border-top">
    <a class="" href="/about">О сайте</a>
</footer>
{% endblock %}