<!doctype html>
<html lang=ru>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--  Нижние 3 строки для корректной работы bootstrap navbar dropdown -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Шифрование - {% block title %}{% endblock %}</title>
</head>
<body >
<div class="navbar navbar-light border-0" style="background-color: #e3f2fd;">

    <div class="sign-wrap-4" >
        <h4><div class="">Ши<span>фро</span>ва<span>ни</span>е<span><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-key-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
        </svg></span><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M11.5 8h-7a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1zm-7-1a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-7zm0-3a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
        </svg></div></h4>
    </div>


</div>

<div class="row container-fluid border-0" style="background-color: #e3f2fd;">
    <nav class="col-md-auto nav-item flex-column active border-0" >
        <ul class="nav nav-pills">
        <li class="nav-item dropdown" >
            <a class="btn btn-primary  dropdown-toggle" href="#" id="myDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Статьи
            </a>
            <div class="dropdown-menu btn btn-outline-secondary" aria-labelledby="myDropdown">
                <a class="dropdown-item " href="posts">Все статьи</a>
                <a class="dropdown-item" href="create-article">Добавить новую статью</a>
            </div>
        </li>

        <li class="nav-item" >
            <a class="btn btn-dark" href="/">Главная <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.5 10.995V14.5a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
            <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
            </svg></a>
         </li>
     </ul>
        <p></p><span class="font-weight-bold" >Моноалфавитные шифры</sраn>
                    <p></p><p><a class="btn-link"  href="/cezar">Шифр Цезаря</a></p>

            <p></p><p><a class="btn-link" href="/affine">Афинный шифр</a></p>
            <p></p><p><a class="btn-link"  href="/affine_reccurent">Афинный реккурентный шифр</a></p>
        <p></p><span class="font-weight-bold" >Полиграмные шифры</sраn>
            <p></p><p><a class="btn-link"  href="/hill">Шифр Хилла</a></p>
            <p></p><p><a class="btn-link" href="/hill_reccurent">Реккурентный шифр Хилла</a></p>
        <p></p><span class="font-weight-bold" >Симметричные шифры</sраn>
            <p></p><p><a class="btn-link"  href="/AES">AES</a></p>
    </nav>
    <section class="col border ру-2" style="background-color: #ffffff;">{% block body %}{% endblock %} </section>
</div>
</body>
</html>