{% extends 'base.html' %}

{% block title %}
Шифр Хилла
{% endblock %}


{% block body %}

    <p></p>
  <h1><p align="center">Шифр Хилла</p></h1>

    <b>Расшифрованный текст:</b>
    <form action= "/hill_encryption" method="post" >
        <p><textarea class="rounded form-control" name="text" placeholder="Введите текст..." required>{% if text1 %}{{text1}}{% endif %}</textarea></p>
        <p><textarea class="rounded form-control" rows="1" minlength="9" maxlength="9" name="key" value = "text" placeholder="Ключ..." title="Введите слово состоящее из 9 любых символов алфавита, что представлен ниже" required></textarea></p>
        <p><input class="rounded btn-dark" type="submit"  name="method" value="Зашифровать">
        <a href="#" title="Введите текст в поле ввода текста. Введите ключ в виде слова из 9 символов, и нажмите зашифровать. Расшифрование делается аналогичным образом"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
        </svg></a></p>
    </form>


    <b>Зашифрованный текст:</b>
    <form action="/hill_decryption" method="post">
        <p><textarea class="rounded form-control" rows="4" name="text1" required>{% if text %}{{text}}{% endif %}</textarea></p>
        <p><textarea class="rounded form-control" minlength="9" maxlength="9" rows="1" name="key1" value = "text" placeholder="Ключ..." title="Введите слово состоящее из 9 любых символов алфавита, что представлен ниже" required>{% if key %}{{key}}{% endif %}</textarea></p>
        <input class="rounded btn-dark" type="submit" name="re_method" value="Расшифровать">
    </form>

    <div id="description"> <br /><br />
    Алфавит: 'A' 'a' 'B' 'b' 'C' 'c' 'D' 'd' 'E' 'e' 'F' 'f' 'G' 'g' 'H' 'h' 'I' 'i'
    'J' 'j' 'K' 'k' 'L' 'l' 'M' 'm' 'N' 'n' 'O' 'o' 'P' 'p' 'Q' 'q' 'R' 'r'
    'S' 's' 'T' 't' 'U' 'u' 'V' 'v' 'W' 'w' 'X' 'x' 'Y' 'y' 'Z' 'z' ' ' ',' '-' ':' '"'
    '!' 'А' 'а' 'Б' 'б' 'В' 'в' 'Г' 'г' 'Д' 'д' 'Е' 'е' 'Ё' 'ё' 'Ж' 'ж' 'З' 'з'
    'И' 'и' 'Й' 'й' 'К' 'к' 'Л' 'л' 'М' 'м' 'Н' 'н' 'О' 'о' 'П' 'п' 'Р' 'р'
    'С' 'с' 'Т' 'т' 'У' 'у' 'Ф' 'ф' 'Х' 'х' 'Ц' 'ц' 'Ч' 'ч' 'Ш' 'ш' 'Щ' 'щ'
    'Ъ' 'ъ' 'Ы' 'ы' 'Ь' 'ь' 'Э' 'э' 'Ю' 'ю' 'Я' 'я' '№' ';' '.' '1' '2' '3' '4' '5' '6'
    '7' '8' '9' '0'
    <p></p>
    <p>Если после расшифровки вылезло "AAAA" замените ключ</p>
    <br /><br />
    <span class="label label-default">Шифр Хилла — полиграммный шифр подстановки, основанный на линейной алгебре и модульной арифметике. Изобретён американским математиком Лестером Хиллом в 1929 году. Это был первый шифр, который позволил на практике (хотя и с трудом) одновременно оперировать более чем с тремя символами. Шифр Хилла не нашёл практического применения в криптографии из-за слабой устойчивости ко взлому и отсутствия описания алгоритмов генерации прямых и обратных матриц большого размера.</span>
    <footer class="container pt-4 my-md-5 pt-md-5 border-top">
        <a class="" href="/about">О сайте</a>
    </footer>
{% endblock %}