{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}


{% block body %}


  <p></p>
  <p></p>
    <p><strong>Мир компьютерных наук может вселять страх, особенно если пытаться разобраться в нём самостоятельно. Поэтому я решил написать обзор основ криптографии для тех, кто хотел бы в неё углубиться, но не знает, с чего начать. В основу обзора лёг курс <a href="https://www.coursera.org/learn/crypto" target="_blank" rel="noopener noreferrer">криптографии</a> от преподавателя Стэнфордского университета <a href="https://crypto.stanford.edu/~dabo/" target="_blank" rel="noopener noreferrer">Дэна Бонеха</a>, доступный на Coursera.</strong></p>
<p><span id="more-150200"></span></p>
<h2>Что такое криптография?</h2>
<p>В сущности, криптография – это практика безопасного общения при наличии потенциальных сторонних недоброжелателей. Понятие безопасного общения подразумевает две основных составляющих:</p>
<ol>
<li><strong>Защита от перехвата:</strong> конфиденциальность данных.</li>
<li><strong>Защита от манипуляции данными:</strong> целостность информации, что означает, что никто не может изменить отправляемые вами данные, заставив получателя принять искажённые данные за действительные.</li>
</ol>
<p>Конфиденциальность данных достигается с помощью шифрования, которое может принимать две формы: симметричную и асимметричную.</p>
<ul>
<li><strong>Симметричное шифрование</strong> использует единственный ключ, которым должны обмениваться все участники коммуникации.</li>
<li><strong>Асимметричное шифрование</strong> использует личные ключи. У каждого участника есть пара из открытого и закрытого ключей для шифрования и дешифрования сообщений.</li>
</ul>
<p><em>В настоящей статье мы сосредоточимся на симметричном шифровании.</em></p>
<h2>Два типа шифров</h2>
<p>Шифрование обеспечивает конфиденциальность данных и включает две важных составляющих:</p>
<ol>
<li><strong>Секретный ключ:</strong> в контексте симметричного шифрования можно предположить, что у наших участников Алисы и Боба есть общий секретный ключ.</li>
<li><strong>Шифр:</strong> алгоритмы шифрования и дешифрования.</li>
</ol>
<p><em>Важно отметить, что алгоритмы шифрования и дешифрования известны всем. В секрете хранится лишь ключ.</em></p>
<p>Есть два типа симметричных шифров: потоковые и блочные. Для надлежащего понимания этих шифров будет полезно знакомство с битовыми операциями (операциями, выполняемыми над битами), в частности с исключающим «или» (XOR). Если вкратце, то это сложение двух битов, при котором, если они разные (0 и 1), результат равен 1, а если они одинаковые (два нуля или две единицы), результат равен 0. В дальнейшем изложении предполагается, что читатель знает, что такое XOR и что эту операцию принято обозначать знаком ⊕.</p>
<h3>Потоковый шифр</h3>
<p><strong>Потоковый шифр</strong> – это такой симметричный шифр, где над открытым (исходным) текстом (в байтовом виде) при шифровании побитово выполняется операция XOR с помощью ключа (также в байтовом виде). Тот же процесс используется для расшифровки. Учитывая характер операции XOR, если мы проделаем её над зашифрованным текстом (шифротекстом) с помощью ключа, получим исходный открытый текст.</p>
<figure id="attachment_150203" aria-describedby="caption-attachment-150203" style="width: 700px" class="wp-caption alignnone"><a href="https://bitnovosti.com/wp-content/uploads/2020/07/stream-cipher.png" target="_blank" rel="noopener noreferrer"><img data-attachment-id="150203" data-permalink="https://bitnovosti.com/2020/08/12/cryptography-symmetric-encryption/stream-cipher/" data-orig-file="https://bitnovosti.com/wp-content/uploads/2020/07/stream-cipher.png" data-orig-size="700,396" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Введение в криптографию: симметричное шифрование" data-image-description="" data-medium-file="https://bitnovosti.com/wp-content/uploads/2020/07/stream-cipher.png" data-large-file="https://bitnovosti.com/wp-content/uploads/2020/07/stream-cipher.png" loading="lazy" class="wp-image-150203 size-full" src="https://bitnovosti.com/wp-content/uploads/2020/07/stream-cipher.png" alt="потоковый шифр" width="700" height="396" srcset="https://bitnovosti.com/wp-content/uploads/2020/07/stream-cipher.png 700w, https://bitnovosti.com/wp-content/uploads/2020/07/stream-cipher-150x85.png 150w, https://bitnovosti.com/wp-content/uploads/2020/07/stream-cipher-640x362.png 640w, https://bitnovosti.com/wp-content/uploads/2020/07/stream-cipher-681x385.png 681w" sizes="(max-width: 700px) 100vw, 700px" /></a><figcaption id="caption-attachment-150203" class="wp-caption-text">Как устроен потоковый шифр. Источник: Дэн Бонех</figcaption></figure>
<p>Внимательные читатели, наверное, догадались, что у ключа и открытого текста должно быть что-то общее, причём очень важное. Верно! Ключ и открытый текст должны быть одинаковой длины. Это, конечно, не очень практично.</p>
<p>Чтобы сделать потоковый шифр более практичным, используются <em>генераторы</em> <em>псевдослучайных</em> чисел. <strong>Генератор псевдослучайных чисел</strong> – это <strong>детерминированная процедура</strong>, которая на основе входа выдаёт более длинный псевдослучайный результат. «Детерминированная» означает, что эта процедура при одинаковом входе всегда выдаёт один и тот же выход (т. е. «abc123» всегда даёт «8474f24e0d72e1b949ffd2…»). Слово <strong>«псевдослучайный»</strong> означает, что хотя выход на самом деле не случайный (поскольку он детерминирован на основе конкретного входа), он неотличим от настоящей случайной строки. Другими словами, если иметь набор входов и выходов, то невозможно понять, какому выходу соответствует какой вход. Если использовать в качестве входа общий секретный ключ, можно получить более длинный псевдослучайный ключ, с помощью которого будет проведена операция XOR над открытым текстом такой же длины.</p>
<p>Описанная реализация потокового шифра называется «одноразовый блокнот». Очень важное её свойство заключается в том, что ключ можно использовать только ОДИН РАЗ. Если он используется повторно, безопасность сообщений скомпрометирована.</p>
<p>Ниже показан слайд из курса. PRG(K) обозначает псевдослучайную последовательность, сгенерированную из нашего общего ключа K. Символ ⊕ обозначает операцию XOR; C – шифротекст; m – сообщение (открытый текст).</p>
<figure id="attachment_150204" aria-describedby="caption-attachment-150204" style="width: 700px" class="wp-caption alignnone"><a href="https://bitnovosti.com/wp-content/uploads/2020/07/stream-cipher-2.png" target="_blank" rel="noopener noreferrer"><img data-attachment-id="150204" data-permalink="https://bitnovosti.com/2020/08/12/cryptography-symmetric-encryption/stream-cipher-2/" data-orig-file="https://bitnovosti.com/wp-content/uploads/2020/07/stream-cipher-2.png" data-orig-size="700,392" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Введение в криптографию: симметричное шифрование" data-image-description="" data-medium-file="https://bitnovosti.com/wp-content/uploads/2020/07/stream-cipher-2.png" data-large-file="https://bitnovosti.com/wp-content/uploads/2020/07/stream-cipher-2.png" loading="lazy" class="wp-image-150204 size-full" src="https://bitnovosti.com/wp-content/uploads/2020/07/stream-cipher-2.png" alt="" width="700" height="392" srcset="https://bitnovosti.com/wp-content/uploads/2020/07/stream-cipher-2.png 700w, https://bitnovosti.com/wp-content/uploads/2020/07/stream-cipher-2-150x84.png 150w, https://bitnovosti.com/wp-content/uploads/2020/07/stream-cipher-2-640x358.png 640w, https://bitnovosti.com/wp-content/uploads/2020/07/stream-cipher-2-681x381.png 681w" sizes="(max-width: 700px) 100vw, 700px" /></a><figcaption id="caption-attachment-150204" class="wp-caption-text">Источник: Дэн Бонех</figcaption></figure>
<p>В сущности, слайд показывает, что если использовать ключ дважды, то можно провести операцию XOR над двумя шифротекстами, что будет равно операции XOR над двумя открытыми текстами. Поскольку в понятном человеку языке много избыточности, смышлёный злоумышленник с помощью этой информации сможет полностью восстановить сообщения.</p>
<p>Чтобы не повторять ключ одноразового блокнота, но сохранить один общий секретный ключ, применяется концепция <em>нонса</em>. <strong>Нонс</strong> – это произвольное число, которое в криптографической коммуникации может использоваться только один раз. Вместе с шифротекстом можно также отправлять нонс, который будет слагаться с секретным ключом, чтобы при каждом шифровании давать другой псевдослучайный ключ.</p>
<p>(Возможно, вы обратили внимание, что на слайде выше написано <em>«атака 1»</em>. Если у вас возник вопрос об <em>«атаке 2»</em>, то она относится к тому факту, что потоковый шифр обеспечивает <em>конфиденциальность</em>, но НЕ <em>целостность данных</em>, упоминавшуюся в начале статьи).</p>
<h3>Блочный шифр</h3>
<p>Второй тип шифров – блочные. Блочный шифр использует вход фиксированной длины и циклически снова и снова шифрует исходный текст, используя каждый раз другой ключ («раундовый ключ»), пока не выдаст шифротекст той же длины. 3DES и AES – два примера блочных шифров, которые соответственно используют вход из 48 и 128 битов.</p>
<figure id="attachment_150205" aria-describedby="caption-attachment-150205" style="width: 700px" class="wp-caption alignnone"><a href="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher.png" target="_blank" rel="noopener noreferrer"><img data-attachment-id="150205" data-permalink="https://bitnovosti.com/2020/08/12/cryptography-symmetric-encryption/block-cipher/" data-orig-file="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher.png" data-orig-size="700,393" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Введение в криптографию: симметричное шифрование" data-image-description="" data-medium-file="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher.png" data-large-file="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher.png" loading="lazy" class="wp-image-150205 size-full" src="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher.png" alt="схема блочный шифр" width="700" height="393" srcset="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher.png 700w, https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-150x84.png 150w, https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-640x359.png 640w, https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-681x382.png 681w" sizes="(max-width: 700px) 100vw, 700px" /></a><figcaption id="caption-attachment-150205" class="wp-caption-text">Схема блочного шифра. Источник: Дэн Бонех</figcaption></figure>
<p>На слайде выше показана базовая архитектура блочного шифра. Как можно видеть, для получения в каждом раунде нового ключа используется алгоритм расширения ключа. Исходный текст (m) шифруется снова и снова, пока не будет получен шифротекст (C) такой же длины.</p>
<p>Ради краткости в этой статье я буду рассматривать AES. Несмотря на историческую значимость DES/3DES, AES сегодня более широко применяется.</p>
<figure id="attachment_150206" aria-describedby="caption-attachment-150206" style="width: 700px" class="wp-caption alignnone"><a href="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-2.png" target="_blank" rel="noopener noreferrer"><img data-attachment-id="150206" data-permalink="https://bitnovosti.com/2020/08/12/cryptography-symmetric-encryption/block-cipher-2/" data-orig-file="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-2.png" data-orig-size="700,392" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Введение в криптографию: симметричное шифрование" data-image-description="" data-medium-file="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-2.png" data-large-file="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-2.png" loading="lazy" class="wp-image-150206 size-full" src="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-2.png" alt="схема блочный шифр" width="700" height="392" srcset="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-2.png 700w, https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-2-150x84.png 150w, https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-2-640x358.png 640w, https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-2-681x381.png 681w" sizes="(max-width: 700px) 100vw, 700px" /></a><figcaption id="caption-attachment-150206" class="wp-caption-text">Источник: Дэн Бонех</figcaption></figure>
<p>AES построен как <em>подстановочно-перестановочная сеть (SP-сеть)</em>. AES использует блоки размером 128 битов, что равно 16 байтам. 16 байтов записываются как матрица 4 на 4. Такая матрица удобна для операций с данными. В каждом раунде процесс следующий:</p>
<ol>
<li>Проводим операцию XOR над исходным сообщением и первым раундовым ключом <em>(k0)</em>.</li>
<li>Выполняем подстановку, заменяя блоки данных другими на основе определённой таблицы <em>(процедура ByteSub)</em>.</li>
<li>Проводим перестановку, сдвигая и перемешивая биты <em>(процедуры ShiftRow и MixColumn)</em>.</li>
<li>Процесс повторяется 10 раундов.</li>
</ol>
<p>В последнем раунде опускается процедура MixColumn, проводится операция XOR с последним раундовым ключом и получаем итоговый шифротекст. Для расшифровки используется обратный процесс. Тем, кто желает углубиться, могу посоветовать ознакомиться с сетью Фейстеля, которая используется в 3DES, чтобы сравнить разные блочные шифры.</p>
<p>После запуска архитектуры Westmere компания Intel стала встраивать в свои процессоры специальные инструкции для оптимизации AES, и вскоре за ней последовала AMD.</p>
<h3>Режимы блочного шифрования</h3>
<p>В отличие от потоковых, блочные шифры используют вход фиксированной длины. Очевидно, мы хотим одновременно обрабатывать больше 16 байтов данных. Поэтому дальше важно понять режимы, в которых можно применять блочные шифры к большим объёмам данных. Первый из них – режим электронной кодовой книги (ECB). ECB просто разбивает данные на блоки по 16 байтов и выполняет AES-шифрование единообразно. Это можно делать параллельно и очень быстро. Однако это не слишком безопасно.</p>
<figure id="attachment_150207" aria-describedby="caption-attachment-150207" style="width: 700px" class="wp-caption alignnone"><a href="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-3.png" target="_blank" rel="noopener noreferrer"><img data-attachment-id="150207" data-permalink="https://bitnovosti.com/2020/08/12/cryptography-symmetric-encryption/block-cipher-3/" data-orig-file="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-3.png" data-orig-size="700,347" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Введение в криптографию: симметричное шифрование" data-image-description="" data-medium-file="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-3.png" data-large-file="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-3.png" loading="lazy" class="wp-image-150207 size-full" src="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-3.png" alt="схема блочного шифра" width="700" height="347" srcset="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-3.png 700w, https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-3-150x74.png 150w, https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-3-640x317.png 640w, https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-3-681x338.png 681w" sizes="(max-width: 700px) 100vw, 700px" /></a><figcaption id="caption-attachment-150207" class="wp-caption-text">Источник: Дэн Бонех</figcaption></figure>
<p>Причина в том, что если 16-байтовые сообщения повторяются, шифротекст тоже будет повторяться. Так потенциальный злоумышленник сможет получить информацию о наших данных. Можно показать эту уязвимость на примере изображения, зашифрованного посредством ECB. На картинке ниже видно, что тёмные волосы и футболка позволяют различить очертания, по которым можно понять, что зашифрован снимок чьего-то лица.</p>
<figure id="attachment_150208" aria-describedby="caption-attachment-150208" style="width: 700px" class="wp-caption alignnone"><a href="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-4.png" target="_blank" rel="noopener noreferrer"><img data-attachment-id="150208" data-permalink="https://bitnovosti.com/2020/08/12/cryptography-symmetric-encryption/block-cipher-4/" data-orig-file="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-4.png" data-orig-size="700,394" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Введение в криптографию: симметричное шифрование" data-image-description="" data-medium-file="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-4.png" data-large-file="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-4.png" loading="lazy" class="wp-image-150208 size-full" src="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-4.png" alt="" width="700" height="394" srcset="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-4.png 700w, https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-4-150x84.png 150w, https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-4-640x360.png 640w, https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-4-681x383.png 681w" sizes="(max-width: 700px) 100vw, 700px" /></a><figcaption id="caption-attachment-150208" class="wp-caption-text">Источник: Дэн Бонех, B. Preneel</figcaption></figure>
<p>Важно, чтобы схемы шифрования были <em>семантически стойкими</em>. <strong>Семантическая стойкость</strong> означает, что, если есть шифротекст, соответствующий одному из двух открытых текстов, недоброжелатель не может знать с вероятностью больше 1/2, какому именно открытому тексту он соответствует. Очевидно, что режим ECB семантически нестойкий. Зашифрованное изображение выдаёт много информации, позволяющей догадаться об исходнике.</p>
<p>ECB – это пример режима с одноразовым ключом (то есть, как и в случае одноразового блокнота, ключ нельзя использовать повторно). Ещё один, более безопасный режим с одноразовым ключом – <em>детерминированный режим счётчика</em>. Можете поискать о нём информацию самостоятельно, а я перейду к безопасным режимам с многоразовыми ключами.</p>
<p>В режиме <em>сцепления блоков шифротекста (CBC)</em> каждый 16-байтовый блок открытого текста складывается посредством операции XOR с шифротекстом предыдущего блока, после чего выполняется блочное шифрование (AES).</p>
<figure id="attachment_150209" aria-describedby="caption-attachment-150209" style="width: 700px" class="wp-caption alignnone"><a href="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-5.png" target="_blank" rel="noopener noreferrer"><img data-attachment-id="150209" data-permalink="https://bitnovosti.com/2020/08/12/cryptography-symmetric-encryption/block-cipher-5/" data-orig-file="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-5.png" data-orig-size="700,393" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Введение в криптографию: симметричное шифрование" data-image-description="" data-medium-file="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-5.png" data-large-file="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-5.png" loading="lazy" class="wp-image-150209 size-full" src="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-5.png" alt="" width="700" height="393" srcset="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-5.png 700w, https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-5-150x84.png 150w, https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-5-640x359.png 640w, https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-5-681x382.png 681w" sizes="(max-width: 700px) 100vw, 700px" /></a><figcaption id="caption-attachment-150209" class="wp-caption-text">Источник: Дэн Бонех</figcaption></figure>
<p>Начинаем со случайного <em>вектора инициализации (IV)</em>, то есть начального значения в циклическом процессе. В случае CBC значение IV должно быть случайным (и, следовательно, непредсказуемым), а значит, уникальным в каждой транзакции. Первый блок шифротекста – это просто незашифрованный случайный IV. Чтобы получить остальной шифротекст, сначала проводится операция XOR над случайным IV и первым блоком открытого текста (m[0]). Результат шифруется с помощью раундового ключа k, и получаем первый зашифрованный блок шифротекста (c[0]). Далее проводится операция XOR над этим шифротекстом и следующим блоком открытого текста (m[1]), результат шифруется раундовым ключом k, и получаем следующий блок шифротекста (c[1]). Процесс продолжается, пока не будут зашифрованы все блоки.</p>
<figure id="attachment_150210" aria-describedby="caption-attachment-150210" style="width: 700px" class="wp-caption alignnone"><a href="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-6.png" target="_blank" rel="noopener noreferrer"><img data-attachment-id="150210" data-permalink="https://bitnovosti.com/2020/08/12/cryptography-symmetric-encryption/block-cipher-6/" data-orig-file="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-6.png" data-orig-size="700,392" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Введение в криптографию: симметричное шифрование" data-image-description="" data-medium-file="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-6.png" data-large-file="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-6.png" loading="lazy" class="wp-image-150210 size-full" src="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-6.png" alt="" width="700" height="392" srcset="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-6.png 700w, https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-6-150x84.png 150w, https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-6-640x358.png 640w, https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-6-681x381.png 681w" sizes="(max-width: 700px) 100vw, 700px" /></a><figcaption id="caption-attachment-150210" class="wp-caption-text">Источник: Дэн Бонех</figcaption></figure>
<p>Для расшифровки применяется обратный процесс.</p>
<p>Важная составляющая CBC-шифрования – это непредсказуемый случайный IV. Если IV будет предсказуемым, то наша схема шифрования станет уязвимой к атаке на основе <em>подобранного открытого текста</em>. <strong>Атака на основе подобранного открытого текста (CPA)</strong> подразумевает, что злоумышленник может получить шифротексты произвольных открытых текстов и с их помощью раскрыть информацию о зашифрованных сообщениях. Следовательно, непредсказуемый IV обеспечивает <em>защиту от CPA</em>.</p>
<p>Попробую объяснить, как может выглядеть такая атака. Провести CPA при наличии предсказуемого IV можно из-за свойств XOR. Результат операции XOR над двумя одинаковыми значениями (например, 0101 ⊕ 0101) всегда будет равен нулю. Поэтому, если вы подозреваете, что шифротекст c[0] соответствует определённому открытому тексту m[0], можно проверить гипотезу с помощью предсказуемого IV. Если открытый текст зашифровали с помощью IV1 (c[0] = E(k, m[0] ⊕ IV1)), то можно зашифровать новый открытый текст и посмотреть, совпадёт ли результат с c[0]. Поскольку можно предсказать, что IV будет IV2, вы проделываете m[0] ⊕ IV1 ⊕ IV2. CBC проделает операцию XOR над этим входом и следующим IV (IV2): c[1] = E(k, m[0] ⊕ IV1 ⊕ IV2 ⊕ IV2). Следовательно, два IV2 взаимно уничтожаются, и мы снова шифруем E(k, IV1 ⊕ m[0]), что, опять же, даст c[0], и в таком случае мы можем догадаться, что было ранее зашифровано с помощью IV1.</p>
<p>Наконец, хотелось бы рассмотреть ещё один режим блочного шифрования: рандомизированный режим счётчика (CTR). Это последний, самый безопасный режим, и он также более эффективен, чем CBC.</p>
<figure id="attachment_150211" aria-describedby="caption-attachment-150211" style="width: 700px" class="wp-caption alignnone"><a href="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-7.png" target="_blank" rel="noopener noreferrer"><img data-attachment-id="150211" data-permalink="https://bitnovosti.com/2020/08/12/cryptography-symmetric-encryption/block-cipher-7/" data-orig-file="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-7.png" data-orig-size="700,393" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Введение в криптографию: симметричное шифрование" data-image-description="" data-medium-file="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-7.png" data-large-file="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-7.png" loading="lazy" class="wp-image-150211 size-full" src="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-7.png" alt="" width="700" height="393" srcset="https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-7.png 700w, https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-7-150x84.png 150w, https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-7-640x359.png 640w, https://bitnovosti.com/wp-content/uploads/2020/07/block-cipher-7-681x382.png 681w" sizes="(max-width: 700px) 100vw, 700px" /></a><figcaption id="caption-attachment-150211" class="wp-caption-text">Источник: Дэн Бонех</figcaption></figure>
<p>Рандомизированный режим счётчика также использует случайный IV, но здесь он служит другой цели. Наш ключ складывается (например, посредством AES) с итерированной версией нашего IV: например, в каждой итерации можно увеличивать IV на единицу, чтобы результат не повторялся. Мы делаем это, пока не получим ключ такой же длины, как наш открытый текст. Теперь, как и в случае потокового шифра с одноразовым ключом, мы проводим операцию XOR над нашим открытым текстом и псевдослучайным ключом, чтобы получить шифротекст. Если у вашего компьютера есть несколько AES-процессоров, то это очень эффективно, так как может выполняться параллельно. В CBC каждый шифротекст зависит от предыдущего блока, поэтому вычислять его параллельно невозможно.</p>
<p>Чтобы получить псевдослучайный ключ из сложения IV и нашего секретного ключа, блочный шифр не обязателен. Блочные шифры должны быть обратимы. Если внимательно рассмотреть механизм рандомизированного режима счётчика, то можно заметить, что для дешифровки не нужно выполнять в обратном порядке F(k, IV). Учитывая свойства XOR, достаточно взять тот же псевдослучайный ключ и сложить его посредством XOR с нашим шифротекстом. То есть для дешифровки нужно повторить операцию, а не провести её в обратном порядке.</p>
<p>Если выражаться абстрактно (до сих пор я избегал абстрактных понятий), это значит, что процедура, которую мы используем для сложения нашего секретного ключа и IV (F(k, IV)) должна быть псевдослучайной функцией (PRF), а не псевдослучайной перестановкой (PRP). На самом деле мы сталкивались с этими концепциями в этой статье. И PRF, и PRP – это детерминированные процедуры, которые при конкретном входе дают псевдослучайный выход (AES, XOR). Однако PRP имеет строгое требование обратимости. Собственно говоря, понятия PRP и блочный шифр (например, AES) часто используются как синонимы. Но PRF НЕ должна быть обратимой.</p>
<p>Итак, на этом заканчивается наш обзор симметричного шифрования. Мы рассмотрели потоковые и блочные шифры. Затем, поскольку блочные шифры одновременно способны обрабатывать лишь 16 байтов, мы поговорили о режимах их применения к большим открытым текстам. Наконец, мы также объяснили разницу между PRP и PRF.</p>

<div id='jp-relatedposts' class='jp-relatedposts' >
</div>    </div>
<footer class="container pt-4 my-md-5 pt-md-5 border-top">
    <a class="" href="/about">О сайте</a>
</footer>
{% endblock %}