{% extends 'base.html' %}

{% block title %}
Ошибка 404
{% endblock %}


{% block body %}
<div class="container mt-5">
      <h1 class="m-0">Error 404 - Страница не найдена.</h1>
    <h4>Попробуйте вернуться на <a class="" href="/">главную</a></h4>
</div>


<footer class="container pt-4 my-md-5 pt-md-5 border-top">
    <a class="" href="/about">О сайте</a>
</footer>
{% endblock %}