{% extends 'base.html' %}

{% block title %}
Все статьи на сайте
{% endblock %}


{% block body %}
<div class="container mt-5">
   {% if articles|length>0 %}
       {% for el in articles %}
          <div class="alert alert-secondary ">
              <h2>{{ el.title }}</h2>
              <p>{{ el.intro }}</p>
              <p><b>Дата: {{ el.date.date() }}</b></p>
              <a href="/posts/{{ el.id }}" class="btn btn-success">Детальнее</a>
          </div>
       {% endfor %}
    {% else %}
        <h2>Ни одной статьи еще не доавлено. Будьте первым!!!</h2>
    {% endif %}

</div>


<footer class="container pt-4 my-md-5 pt-md-5 border-top">
    <a class="" href="/about">О сайте</a>

</footer>
{% endblock %}