{% extends 'base.html' %}

{% block title %}
{{ article.title }}
{% endblock %}


{% block body %}
<div class="container mt-5">
    <p><h1>{{ article.title }}: {{ article.intro }}</h1>
      <div class="alert alert-info">
          <p>{{ article.text }}</p>
          <p><b>Дата: {{ article.date.date() }}</b></p>
          <a href="/posts/{{ article.id }}/delete" class="btn btn-danger">Удалить</a>
          <a href="/posts/{{ article.id }}/update" class="btn btn-primary">Редактировать</a>

      </div>
</div>


<footer class="container pt-4 my-md-5 pt-md-5 border-top">
    <a class="" href="/about">О сайте</a>
</footer>
{% endblock %}