{% extends 'base.html' %}

{% block title %}
Обновление статъи
{% endblock %}


{% block body %}
<div class="container mt-5">
    <h1 align="center">Обновление статьи</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" value="{{ article.title }}" placeholder="Введите название" required><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Введите анонс">{{ article.intro }}</textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Введите основной текст">{{ article.text }}</textarea><br>
        <input type="submit" class="btn btn-success" value="Обновить">
    </form>
</div>


<footer class="container pt-4 my-md-5 pt-md-5 border-top">
    <a class="" href="/about">О сайте</a>
</footer>
{% endblock %}